body{
    background-color: #F2F2F2!important;
}

.navbar{
    min-height: 75px;
}

@media (min-width: 700px){
    .navbar{
        padding: .5rem 8rem;
    }
}
.navbar-bg{
    background-color: #215F63!important;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.img-logo{
    max-height: 65px;
}

.text-logo{
    font-family: 'Rancho', serif;
    margin: auto!important;
    font-size: 2rem;
}

.btn{
    box-shadow: 0 1px 3px 0 black;
}

.btn.btn-secondary{
    color: black;
    margin: 0 1rem 0 1rem;
    background-color: #F0ECD3;
    border: none;
    font-weight: 700;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

footer{
    bottom: 0;
}
