.parallax1 {
  background-image: url("../assets/images/pages/homepage/Banner.jpg");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.head-title {
  font-size: 80px;
}

.head-subtitle {
  font-size: 30px;
}

.search-container {
  float: left;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 700px;
  border: none;
  border-radius: 25px;
  opacity: 0.5;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.section1 {
  background-image: url("../assets/images/pages/homepage/A.png");
  min-height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-title {
  font-size: 50px;
}

.content-subtitle {
  font-size: 20px;
  line-height: 150%;
}

.content-img {
  width: 100%;
}

.parallax2 {
  background-image: url("../assets/images/pages/homepage/B.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex1 {
  display: flex;
  justify-content: center;
}

.flex1 > div {
  background-color: rgba(128, 128, 128, 0.5);
  width: 20%;
  margin: 5%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.section2 {
  background-image: url("../assets/images/pages/homepage/C.png");
  min-height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

