html, body{
    font-family: Open Sans;
}

.container{
    mix-blend-mode: normal;
}

.overlap-group{
    position: relative;
}

.undraw-signin{
    mix-blend-mode: normal;
    position: absolute;
    z-index: 10;
}

.ellipse-4{
    height: 50vh;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 20vw;
}

.ellipse-5{
    height: 50vh;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 20vw;
}

.form-control {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
  }

@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,600|Rancho:400|Roboto:700,500");